<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <canvas id="myChart"></canvas>
</body>
<script>
  async function genGraph(){
    const ctx = document.getElementById('myChart');
    const res = await fetch("http://<%= ip %>:<%= port %>/graphdata")
    const data = await res.json();
    const myChart = new Chart(ctx, data);
  }
  genGraph();
</script>

</html>